@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: inherit;
    color: #000000;
}