@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: inherit;
    color: #000000;
}

#sidebar {
    height: 50% !important;
    overflow: auto;
}

@media(min-width: 768px) {
    #sidebar {
        height: 100% !important;
        overflow: auto;
    }

    #map-wrapper {
        height: 100% !important;
    }
}

#map-wrapper {
    height: 50% !important;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.refresh-btn {
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    padding: 0.6rem;
    color: green;
    cursor: pointer;
}

.infotext-row {
    width: 100%;
}

.infotext-row::after {
    content: '';
    display: table;
    clear: both;
}

.infotext-col {
    width: 50%;
    float: left;
    padding: 5px;
}

/* .gm-style-iw > button {
    display: none !important;
} */
.gm-style-iw {
    max-width: 400px;
}

.leaflet-marker-icon, .leaflet-marker-shadow {
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
}