@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: inherit;
    color: #000000;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.refresh-btn {
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    padding: 0.6rem;
    color: green;
    cursor: pointer;
}

.gm-style-iw > button {
    display: none !important;
}
.gm-style-iw {text-align:center;}